In [2]:
import pandas as pd

In [71]:
import numpy as np

In [6]:
train_df = pd.read_pickle("../data/processed/train_data.pkl")

In [19]:
train_df.head()

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,weekday,area_per_floor,outlier_square_feet,outlier_area_per_floor,air_temperature_6_lag,air_temperature_24_lag,dew_temperature_6_lag,dew_temperature_24_lag,cloud_coverage_6_lag,cloud_coverage_24_lag
0,0,0,0.000000,0,0,8.913550,11.0,NaN,19.406250,NaN,...,4,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1,1142,1,0.000000,13,6,11.549431,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,16.768229,18.847656,11.118490,10.296224,NaN,NaN
2,1142,0,48.000000,13,6,11.549431,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,17.519531,18.801758,11.302083,10.154460,NaN,NaN
3,1141,0,21.000000,13,8,9.951611,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,18.153646,18.660156,11.402344,9.991862,NaN,NaN
4,1140,2,6609.379883,13,0,11.960703,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,18.703125,18.518229,11.302083,9.783366,NaN,NaN

In [16]:
(lambda x: print(train_df.head()[x] == 0))('building_id')

0     True
1    False
2    False
3    False
4    False
Name: building_id, dtype: bool

In [17]:
(lambda x: print(train_df.head()[x] in [0, 1142, 1141, 1140]))('building_id')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [48]:
r = (lambda x: (train_df.head()[x] != 0) & (train_df.head()[x] != 1142))('building_id')

In [49]:
r

0    False
1    False
2    False
3     True
4     True
Name: building_id, dtype: bool

In [51]:
train_df.head().loc[r,]

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,weekday,area_per_floor,outlier_square_feet,outlier_area_per_floor,air_temperature_6_lag,air_temperature_24_lag,dew_temperature_6_lag,dew_temperature_24_lag,cloud_coverage_6_lag,cloud_coverage_24_lag
3,1141,0,21.000000,13,8,9.951611,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,18.153646,18.660156,11.402344,9.991862,NaN,NaN
4,1140,2,6609.379883,13,0,11.960703,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,18.703125,18.518229,11.302083,9.783366,NaN,NaN

In [58]:
train_df.head()[train_df.head().building_id == 0]

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,weekday,area_per_floor,outlier_square_feet,outlier_area_per_floor,air_temperature_6_lag,air_temperature_24_lag,dew_temperature_6_lag,dew_temperature_24_lag,cloud_coverage_6_lag,cloud_coverage_24_lag
0,0,0,0.0,0,0,8.91355,11.0,NaN,19.40625,NaN,...,4,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
train_df.head()[(train_df.head().building_id != 0) & (train_df.head().building_id != 1142)]

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,weekday,area_per_floor,outlier_square_feet,outlier_area_per_floor,air_temperature_6_lag,air_temperature_24_lag,dew_temperature_6_lag,dew_temperature_24_lag,cloud_coverage_6_lag,cloud_coverage_24_lag
3,1141,0,21.000000,13,8,9.951611,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,18.153646,18.660156,11.402344,9.991862,NaN,NaN
4,1140,2,6609.379883,13,0,11.960703,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,18.703125,18.518229,11.302083,9.783366,NaN,NaN

In [ ]:
plot_building_list([
    (131, 0),
    (163, 0),
    (166, 0),
    (166, 1),
    (166, 3),
    (168, 0),
    (168, 1),
    (168, 3),
    (174, 0),
    (174, 1),
    (179, 0),
    (179, 1),
    (179, 3),
    (201, 1),
    (201, 3),
])

In [77]:
buildings_with_leaks = [0, 132, 163, 166, 168, 174, 179, 201]

In [78]:
train_df.head()[np.invert(train_df.head().building_id.isin(buildings_with_leaks))]

,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,weekday,area_per_floor,outlier_square_feet,outlier_area_per_floor,air_temperature_6_lag,air_temperature_24_lag,dew_temperature_6_lag,dew_temperature_24_lag,cloud_coverage_6_lag,cloud_coverage_24_lag
1,1142,1,0.000000,13,6,11.549431,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,16.768229,18.847656,11.118490,10.296224,NaN,NaN
2,1142,0,48.000000,13,6,11.549431,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,17.519531,18.801758,11.302083,10.154460,NaN,NaN
3,1141,0,21.000000,13,8,9.951611,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,18.153646,18.660156,11.402344,9.991862,NaN,NaN
4,1140,2,6609.379883,13,0,11.960703,NaN,NaN,-7.199219,8.0,...,4,NaN,False,False,18.703125,18.518229,11.302083,9.783366,NaN,NaN

In [73]:
dummy = train_df[np.invert(train_df.building_id.isin(buildings_with_leaks))]

In [ ]:
buildings_with_leaks = [132, 163, 166, 168, 174, 179, 201]
train_df[np.invert(train_df.building_id.isin(buildings_with_leaks))]
train_df.reset_index(drop = True, inplace = True)

In [ ]:
if drop_buildings_with_leaks:
    buildings_with_leaks = [132, 163, 166, 168, 174, 179, 201]
    train_df[np.invert(train_df.building_id.isin(buildings_with_leaks))]
    train_df.reset_index(drop = True, inplace = True)